
# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
.git
.gitignore~
# End of https://www.gitignore.io/api/visualstudiocode

# Backups
*~

# pycache
__pycache__/
*.py[cod]
*/__pycache__/

# pickles
picklesForInterface/

.directory

# ignore test folders used for temporary files
realTimeModules/audioRecorder/test
realTimeModules/tone/test
realTimeModules/video/test
realTimeModules/speech/test

# ignore the folder containing test videos
testVideos/

# ignore the image container for video on the dashboard
static/video.png

# ADD THE API KEY
realTimeModules/speech/api_key.json
