
# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
.git
.gitignore~
# End of https://www.gitignore.io/api/visualstudiocode

# Backups
*~

# pycache
__pycache__/
*.py[cod]
*/__pycache__/

# pickles
picklesForInterface/
